<!DOCTYPE html>

<body>
    {{template "index" .}}
	<script>
		htmx.onLoad(function(content) {
		var sortables = content.querySelectorAll(".sortable");
		for (var i = 0; i < sortables.length; i++) {
			var sortable = sortables[i];
			var sortableInstance = new Sortable(sortable, {
				animation: 150,
				handle: '.handle',
				ghostClass: 'blue-background-class',

				// Keep a list of what order the articles are in
				onSort: function(evt) {
					const order = Array.from(evt.to.children).map(el => el.getAttribute('id'));
					console.log(order)
      				document.getElementById('order-input').value = order.join(',');
				},
			});
		}})
		document.body.addEventListener('htmx:afterRequest', (evt) => {
			if (evt.detail.xhr.status === 200) {
				window.location.reload();
			}
		})
	</script>

    <main>
		<form hx-post="save" hx-target="#response" hx-encoding="multipart/form-data">
			<!-- Information about the whole issue -->
			<div class="issueInfo">
				<label for="issueTitle">Title</label>
				<br>
				<input type="text" id="issueTitle" name="issueTitle" value="{{.issueTitle}}">
				<br>
				<label for="publishingDate">Publishing date</label>
				<br>
				<input type="datetime" id="publishingDate" name="publishingDate" value="{{.publishingDate}}">
				<br>
				<label for="pdfFile">PDF version</label>
				<br>
				<input type="file" id="pdfFile" name="pdfFile">
				<br>
				<label for="coverpage">Coverpage</label>
				<br>
				<input type="file" id="coverpage" name="coverpage">
				<br>
			</div>

			<!-- Information about individual articles -->
			<div class="sortable" id="article-container">
				{{range .articles}}
				<div class="article-div" id="{{.ArticleID}}">
					<hr>

					<h3 class="handle">::</h3>
					<label for="{{.ArticleTitleID}}">Article title</label>
					<br>
					<input type="text" id="{{.ArticleTitleID}}" name="{{.ArticleTitleID}}" value="{{.ArticleTitle}}">
					<button class="remove-article-btn" type="button" onclick="removeArticle({{.ArticleID}})">Delete</button>
					<br>
					<label for="{{.AuthortextID}}">Author text</label>
					<br>
					<input type="text" id="{{.AuthortextID}}" name="{{.AuthortextID}}" value="{{.Authortext}}">
					<br>
					<label for="{{.AuthorsID}}">Authors</label>
					<br>
					<input type="text" id="{{.AuthorsID}}" name="{{.AuthorsID}}" value="{{.Authors}}">
					<br>
					<label for="{{.NØlleSafeID}}">nØlle safe</label>
					<input type="checkbox" id="{{.NØlleSafeID}}" name="{{.NØlleSafeID}}" value="{{.NØllesafe}}">
					<br>

					<label for="{{.ContentID}}">Content</label>
					<br>
					<textarea id="{{.ContentID}}" name="{{.ContentID}}" cols="60">{{.Content}}</textarea>
					<br>
				</div>
				{{end}}
			</div>

			<input type="hidden" name="order-input" id="order-input" value="{{.articleOrder}}">

			<hr>

			<input type="submit" value="Save">
		</form>
		<div id="response"></div>

		<button id="add-article-btn">Add New Article</button>
    </main>
</body>

<!-- Template of article-div for adding more articles -->
<template id="new-article-template">
	<div class="article-div" id="">
		<hr>

		<h3 class="handle">::</h3>
        <label for="_Title">Article title</label>
        <br>
        <input type="text" id="_Title" name="_Title" placeholder="Enter title">
		<button class="remove-article-btn" type="button" onclick="">Delete</button>
        <br>
        <label for="_Authortext">Author text</label>
        <br>
        <input type="text" id="_Authortext" name="_Authortext" placeholder="Enter author text">
        <br>
        <label for="_Authors">Authors</label>
        <br>
        <input type="text" id="_Authors" name="_Authors" placeholder="Enter authors">
        <br>
        <label for="_NØllesafe">nØlle safe</label>
        <input type="checkbox" id="_NØllesafe" name="_NØllesafe">
        <br>
        <label for="_Content">Content</label>
        <br>
        <textarea type="text" id="_Content" name="_Content" cols="60"></textarea>
        <br>
	</div>
</template>

<script>
	/**
	 * Allows for adding more articles on the client side. These new articles
	 * will have a negative ID value as they have not yet been added to the database.
	*/
	let articleCounter = -1;

	document.getElementById('add-article-btn').addEventListener('click', function() {
		const template = document.getElementById('new-article-template');
		const articlesContainer = document.getElementById('article-container');

		const newArticle = template.content.cloneNode(true);
		const articleElement = newArticle.querySelector('.article-div');
		articleElement.setAttribute('id', articleCounter);

		const inputs = newArticle.querySelectorAll('input');
		inputs.forEach((input) => {
			const originalName = input.getAttribute('name');
			const articleID = `${articleCounter}${originalName}`
			input.setAttribute('name', articleID);
			input.setAttribute('id', articleID);
			const label = newArticle.querySelector(`label[for="${originalName}"]`);
			if (label) {
				label.setAttribute('for', articleID);
			}
		});

		const removeBtn = newArticle.querySelector('.remove-article-btn');
		removeBtn.setAttribute('onclick', `removeArticle(${articleCounter})`)

		articlesContainer.appendChild(newArticle);

		const orderForm = document.getElementById('order-input');
		var order = orderForm.value;
		orderForm.value = order.concat(",", articleCounter);
		console.log(orderForm.value)

		articleCounter--;
	});

	function removeArticle(articleID) {
		const article = document.getElementById(articleID)
		if (confirm("Are you sure you want to delete this article?")) {
			article.remove();
		}
		console.log("Removed ", article);
		const orderForm = document.getElementById('order-input');
		var order = orderForm.value;
		if (order.search(`${articleID},`) != -1) {
			order = order.replace(`${articleID},`, "");
		} else if(order.search(`,${articleID}`, "") != -1) {
			order = order.replace(`,${articleID}`, "", "");
		} else {
			order = order.replace(articleID, "");
		}
		console.log(order)
		orderForm.value = order
	}
</script>
