<!DOCTYPE html>

<body>
    {{template "index" .}}
    <main>
      <script>
        htmx.onLoad(function(content) {
        var sortables = content.querySelectorAll(".sortable");
        for (var i = 0; i < sortables.length; i++) {
          var sortable = sortables[i];
          var sortableInstance = new Sortable(sortable, {
            animation: 150,
            handle: '.handle',
            ghostClass: 'blue-background-class',

            // Make the `.issueInfo` unsortable
            filter: ".issueInfo",
            onMove: function (evt) {
              return evt.related.className.indexOf('issueInfo') === -1;
            },
          });
        }
    })
    </script>
        <form class="sortable">
          <!-- Information about the whole issue -->
          <!-- Not sortable -->
          <div class="issueInfo">
            <label for="issueTitle">Title</label>
            <br>
            <input type="text" id="issueTitle" name="issueTitle" value={{.issueTitle}}>
            <br>
            <label for="publishingDate">Publishing date</label>
            <br>
            <input type="datetime" id="publishingDate" name="publishingDate" value={{.publishingDate}}>
            <br>
            <label for="pdfFile">PDF version</label>
            <br>
            <input type="file" id="pdfFile" name="pdfFile">
            <br>
            <label for="coverpage">Coverpage</label>
            <br>
            <input type="file" id="coverpage" name="coverpage">
            <br>
          </div>

          <!-- Information about individual articles -->
          {{range .articles}}
          <div class="">
            <hr>
            <h3 class="handle">X</h3>
            <label for={{.ArticleTitleID}}>Article title</label>
            <br>
            <input type="text" id={{.ArticleTitleID}} name={{.ArticleTitleID}} value={{.ArticleTitle}}>
            <br>
            <label for={{.AuthortextID}}>Author text</label>
            <br>
            <input type="text" id={{.AuthortextID}} name={{.AuthortextID}} value={{.Authortext}}>
            <br>
            <label for={{.AuthorsID}}>Authors</label>
            <br>
            <input type="text" id={{.AuthorsID}} name={{.AuthorsID}} value={{.Authors}}>
            <br>
            <label for={{.NØlleSafeID}}>nØlle safe</label>
            <input type="checkbox" id={{.NØlleSafeID}} name={{.NØlleSafeID}} value={{.NØllesafe}}>
            <br>

            <label for={{.ContentID}}>Content</label>
            <br>
            <input type="text" id={{.ContentID}} name={{.ContentID}} value={{.Content}}>
            <br>
          </div>
          {{end}}

          <!-- Save -->
          <hr>
          <input type="submit" value="Save">
        </form>
    </main>
</body>
