<!DOCTYPE html>
<body>
    {{template "index" .}}
    <main>
        <h1>dbuggen</h1>
        {{ range .issues }}
        <a href={{.IssueID}}>
            <img src={{.Coverimage}}>
            <h3>{{.Title}}</h3>
            <p>{{.PublishingDate}}</p>
            <br>
        </a>
        <br>
        {{ end }}
    </main>
</body>
