<!--
	This is the standard html layout of all pages. It contains the necessary
	things for all pages. The rest is handled in client.go
-->
{{define "index"}}
<head>
	<title>{{ .pagetitle }}</title>
	<link rel="stylesheet" href="/public/index.css"> <!-- The CSS -->
	<link rel="icon" href="/public/favicon.png"> <!-- The favicon -->
	<script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
{{ template "navbar" . }} <!-- The navbar -->
{{end}}
