<!-- 
	This is the standard html layout of all pages. It contains the necessary
	things for all pages. The rest is handled in client.go 
-->
{{define "index"}}
<head>
	<title>{{ .pagetitle }}</title>
	<link rel="stylesheet" href="/css/index.css"> <!-- The CSS -->
	<link rel="icon" href="/assets/favicon.png"> <!-- The favicon -->
	<script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script> <!-- HTMX -->
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script> <!-- MathJax -->

</head>
{{ template "navbar" . }} <!-- The navbar -->
{{end}}
