{{ define "navbar" }}
<nav class="navbar">
    <a href="/redaqtionen">redaqtionen</a>
    <a href="/dtugget">dtugget</a>
    <a class="logo" href="/">dbuggen</a>
    <a href="/admin/add-dbuggen">+dbuggen</a>
    <a href="/admin">🔒</a>
</nav>
{{ end }}
